<div>
    <button style="float:right; margin: 10px ;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Doctor </button>
</div>

<div>
    <table class="table" style="margin: 10px;">
        <thead>
            <th>S.N</th>
            <th>Doctor Name</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Specilist</th>
        </thead>
        <tbody>
            <tr>

            </tr>
        </tbody>
    </table>
</div>


<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">New Doctor</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
            <div class="row">
                <div class="col-md-6 mb-4">
                    <label for="FirstName">FirstName</label>
                    <input type="text" class="form-control" [(ngModel)]="doctor.FirstName">
                </div>
            
                <div class="col-md-6 mb-4">
                    <label for="LastName">LastName</label>
                    <input type="text" class="form-control" [(ngModel)]="doctor.LastName">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 md-4">
                    <label for="Address">Address</label>
                    <input type="text" class="form-control" [(ngModel)]="doctor.Address">
                  </div>
             
                <div class="col-md-6 mb-4">
                    <label for="PhoneNumber">PhoneNumber</label>
                    <input type="text" class="form-control" [(ngModel)]="doctor.PhoneNumber">
                </div>
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <label for="Specilist">Specilist</label>
                        <input type="text" class="form-control" [(ngModel)]="doctor.Specilist">
                    </div>
              </div>
              
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="addDoctor()">Submit</button>
        </div>
      </div>
    </div>
  </div>